$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin';
@import 'channels/channels';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/modal/modal';
// endinjector

body.ng-scope{
  background-color: black;
  background-size: stretch;
  background-repeat: no-repeat;
  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
  h4 {
    color: #0084FF;
  }
  p {
    color: white;
  }
  a {
    color: #0084FF;
  }
  label {
    color: white;
  }
  dt, dd {
    color: white;
  }
  .btn {
    background-color: #0084FF;
    border-color: #0084FF;
    color: white;
  }
  .panel-primary {
    border-color: #313131;
  }
  .panel-heading {
    background-color: #313131;
    border-color: #313131;
  }
  .channel {
    background-image: url('../assets/images/black.jpg');
    background-size: cover;
  }
  .well {
    background-color: #313131;
    padding-top: 0px;
    padding-bottom: 0px;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    h4, h5, p {
      margin: 0px;
      background-color: #000000;
      border: 1px solid #000000;
      border-radius: 8px;
      display: inline-block;
      padding: 2px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .btn {
      position: relative;
      float: right;
      margin-top: 5px;
      margin-left: 5px;
    }
  }
}

.navbar-default {
  background-color: #313131;
  border-color: #313131;
  .navbar-brand {
    color: #0084FF;
  }
  .navbar-text {
    color: #0084FF;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #0084FF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #0084FF;
  background-color: #000000;
  border: 1px solid black;
  border-radius: 7%;
}

.col-md-6 {
  min-height: 430px;
  min-width: 350px;
  max-height: 500px;
  max-width: 1170px;
  overflow-y: scroll;
  border: 10px solid #0084FF;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.add-channel {
  width: 100%;
  margin-bottom: 25px;
}

.channels-display-l {
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.channels-display-r {
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll;
}

.add-movie {
  width: 100%;
  margin-bottom: 25px;
}

.movies-display {
  padding-top: 5px;
  overflow-y: scroll;
}
.opaque {
  opacity: 0.05;
}
