<section class="container"  ng-class="{'party' : (vm.party)}">
  <div class="row">
    <div class="add-channel">
      <h3>Add Channel</h3>
      <form>
        <input class="form-control"
                  ng-model="vm.newChannelName"
                  placeholder="name">
        </input>
        <input class="form-control"
                  ng-model="vm.newChannelDescription"
                  placeholder="description">
        </input>
        <select ng-model="vm.newChannelShare">
          <option value="" disabled>- - Please Select One - -</option>
          <option value="public" default>Public</option>
          <option value="private" selected>Private</option>
        </select><br>
        <button type="submit" class="btn btn-primary" ng-click="vm.newChannel()">Create Channel</button>
      </form><br>
    </div>
    <div class="channels-display-l" ng-show="vm.publicChannels.length > 0">
      <h3>Public Channels:</h3><br>
      <article class="col-md-6">
        <div class="panel panel-primary channel"
             ng-repeat="channel in vm.publicChannels | orderBy: 'name'"
             ng-click="vm.setSelected(channel)">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span ng-show="vm.isSelected(channel)" class="glyphicon glyphicon-ok" aria-hidden="true"></span><a ui-sref="channel({id: channel._id})"> {{channel.owner.name}}'s {{ channel.name }} </a>
              <button class="btn btn-danger" ng-show="vm.me._id !== channel.owner._id" ng-click="vm.copyChannel(channel)">Copy Channel</button>
            </h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Description</dt><dd>{{ channel.description }}</dd>
              <dt>Active</dt><dd>{{ channel.active }}</dd>
              <dt>Share Status</dt><dd>{{ channel.share }}</dd>
              <dt>Owner</dt><dd>{{ channel.owner.name }}</dd>
              <dt>Movies</dt><dd><span class="badge" animate-on-change='channel.movies.length'>{{ channel.movies.length }}</span></dd>
            </dl>
          </div>
        </div>
      </article><br>
    </div>
    <div class="channels-display-r" ng-show="vm.channels.length > 0">
      <h3>My Channels:</h3><br>
      <article class="col-md-6">
        <div class="panel panel-primary channel"
             ng-repeat="channel in vm.channels | orderBy: 'name'"
             ng-click="vm.setSelected(channel)">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span ng-show="vm.isSelected(channel)" class="glyphicon glyphicon-ok" aria-hidden="true"></span><a ui-sref="channel({id: channel._id})"> {{ channel.name }} </a>
              <button ng-click="vm.deleteChannel(channel)" class="btn btn-danger">Delete</button>
            </h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Description</dt><dd>{{ channel.description }}</dd>
              <dt>Active</dt><dd>{{ channel.active }}</dd>
              <dt>Share Status</dt><dd>{{ channel.share }}</dd>
              <dt>Owner</dt><dd>{{ channel.owner.name }}</dd>
              <dt>Movies</dt><dd><span class="badge" animate-on-change='channel.movies.length'>{{ channel.movies.length }}</span></dd>
            </dl>
          </div>
        </div>
      </article><br>
    </div>
    <div class="add-movie" ng-show="(vm.selectedChannel) && vm.selectedChannel.owner._id === vm.me._id">
      <h3>Add movie to {{ vm.selectedChannel.name }}</h3>
      <form>
        <input class="form-control"
                  ng-model="vm.newMovie"
                  onfocus="if (this.value=='Search for movie here') this.value = ''">
        </input>
        <br>
        <button type="submit" class="btn btn-primary" ng-click="vm.sendMovie()">Send</button>
      </form><br>
    </div>
    <div class="movies-display">
      <article ng-show="vm.selectedChannel.movies.length > 0" class="col-md-6">
        <br>
        <div class="animate-movies" ng-repeat="movie in vm.selectedChannel.movies">
          <dl>
            <dd><div class="well" style="background-image: url({{movie.Poster}}); background-size: 60% 90%;">
            <div ng-class="{'opaque' : vm.movieHideId === movie._id}">
              <button class="btn btn-danger" ng-click="vm.deleteMovie(movie)">X</button>
              <button class="btn btn-default" ng-click="vm.hideInfo(movie)">Hide Info</button>
              <h4><a ui-sref="movie({id: movie._id, channelId: movie.channelId})">{{ movie.Title }}</a></h4><br>
              <h5>Release Year: {{ movie.Year }}</h5><br>
              <h5>Plot: <p>{{ movie.Plot }}</p></h5>
              <h5>Rated: {{ movie.Rated }}</h5><br>
              <h5>Runtime: {{ movie.Runtime }}</h5><br>
              <h5>Genre: {{ movie.Genre }}</h5><br>
              <h5>Director: {{ movie.Director }}</h5><br>
              <h5>Writer: {{ movie.Writer }}</h5><br>
              <h5>Actors: {{ movie.Actors }}</h5><br>
              <h5>Language: {{ movie.Language }}</h5><br>
              <h5>Awards: {{ movie.Awards }}</h5><br>
              <h5>Type: {{ movie.Type }}</h5><br>
              <h5>Tomato Consensus: <p>{{ movie.tomatoConsensus }}</p></h5><br>
              <h5>Tomato Url: <a href="{{ movie.tomatoUrl }}">{{ movie.tomatoUrl }}</a></h5><br>
              <h5>Production: {{ movie.Production }}</h5><br>
              <h5>Website: <a href="{{movie.Website}}">{{ movie.Website }}</a></h5><br>
            </div>
            </div></dd>
          </dl>
        </div>
      </article>
    </div>
  </div>
</section>
